node_modules
.next
.open-next
.wrangler
.idea

.env.local
*.env
.env.*
.envrc
.envrc.local
.envrc.example
.env.example
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local
.env.development.example
.env.production.example
.env.test.example
.env.development.template
.env.production.template
.env.test.template
.env.development.local.template
.env.production.local.template
.env.test.local.template
.env.development.example.template
.env.production.example.template
.env.test.example.template
.env.development.example.local.template
.env.production.example.local.template
.env.test.example.local.template
